atomicwrites==1.4.1
attrs==23.1.0
certifi==2022.12.7
charset-normalizer==3.1.0
colorama==0.4.6
idna==3.4
iniconfig==2.0.0
numpy==1.24.3
packaging==23.1
pluggy==1.0.0
py==1.11.0
pytest==7.1.2
requests==2.29.0
tomli==2.0.1
urllib3==1.26.15
validate-docbr==1.10.0
